<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gutenberg</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Gutenberg
      </h1>
      <p class="subtitle">
        Générateur de diffusions pour associations de l'<strong>ENS</strong>.
      </p>
        
     
           <div class="field">
              <label class="label">Association</label>
              <div class="control">
                <div class="select">
                  <select>
                      <option>Enscène</option>
                      <option>BDE</option>
                      <option>Aliens</option>
                      <option>Enplastik</option>
                      <option>Fédération</option>
                  </select>
                </div>
              </div>
               <p class="help">Pour quelle association voulez-vous communiquer ?</p>
            </div>
        
      
     <div class="field">
  <label class="label">Titre de la diffusion</label>
  <div class="control">
    <input class="input" type="text" placeholder="Titre à écrire">
  </div>
  <p class="help">Que voulez-vous dire ?</p>
</div>
      
       <div class="field">
  <label class="label">Message à faire passer</label>
  <div class="control">
    <textarea class="textarea" placeholder="Corps du message"></textarea>
  </div>
  <p class="help">Comment allez-vous le dire ?</p>
</div>
        
        <div class="field">
  <label class="label">Signataire</label>
  <div class="control">
    <input class="input" type="text" placeholder="Votre identité">
  </div>
  <p class="help">Qui êtes-vous ?</p>
</div>
        
        
        
      </div>
      
  </section>
  </body>
</html>